@using Model
@model ViewModel

@{
    ViewBag.Title = "AllGoods";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="mdui-row-xs-12">
    <div class="mdui-text-right mdui-m-b-2">
        <button mdui-dialog="{target:'#addGoodsDialog'}" id="goodsAdd" class="mdui-btn mdui-btn-icon mdui-m-r-1" style="padding: 25px;" mdui-tooltip="{content: '添加'}"><i class="mdui-icon material-icons">add</i></button>
        <button id="goodsEdit" class="mdui-btn mdui-btn-icon" style="padding: 25px;" mdui-tooltip="{content: '编辑'}"><i class="mdui-icon material-icons">update</i></button>
        <button id="goodsDelete" class="mdui-btn mdui-btn-icon" style="padding: 25px;" mdui-tooltip="{content: '删除'}"><i class="mdui-icon material-icons">delete</i></button>
    </div>

    <div class="mdui-table-fluid mdui-hoverable mdui-table-hoverable">
        <table class="mdui-table mdui-table-selectable ">
            <thead>
                <tr>
                    <th>商品编号</th>
                    <th>商品类别</th>
                    <th>商品名字</th>
                    <th>商品价格</th>
                    <th>商品状态</th>
                    <th>商品介绍</th>
                    <th>商品数量</th>
                    <th>添加时间</th>
                    <th>商品标题</th>
                </tr>
            </thead>
            <tbody class="mdui-typo">
                @{
                    foreach (Goods itemGoods in Model.GoodsList)
                    {
                        <tr>
                            <td class="goodsId">@itemGoods.goods_id</td>
                            <td>@itemGoods.goods_type_id</td>
                            <td><a href="@Url.Action("GoodsManagerDetail","GoodsManager",new {id=itemGoods.goods_id})" mdui-tooltip="{content: '商品详情'}">@itemGoods.goods_name</a></td>
                            <td>@itemGoods.goods_price</td>
                            <td>@itemGoods.goods_flag</td>
                            <td>@itemGoods.goods_info</td>
                            <td>@itemGoods.goods_count</td>
                            <td>@itemGoods.goods_addTime</td>
                            <td>@itemGoods.goods_title</td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
<div class="mdui-row mdui-text-center">
    <button id="firstPage" class="mdui-btn mdui-ripple mdui-btn-icon mdui-p-a-3 mdui-m-t-4" mdui-tooltip="{content: '首页'}"><i class="mdui-icon material-icons">skip_previous</i></button>
    <button id="lastPage" class="mdui-btn mdui-ripple mdui-btn-icon mdui-p-a-3 mdui-m-t-4" mdui-tooltip="{content: '上一页'}"><i class="mdui-icon material-icons">navigate_before</i></button>
    <button id="nextPage" class="mdui-btn mdui-ripple mdui-btn-icon mdui-p-a-3 mdui-m-t-4" mdui-tooltip="{content: '下一页'}"><i class="mdui-icon material-icons">navigate_next</i></button>
    <button id="endPage" class="mdui-btn mdui-ripple mdui-btn-icon mdui-p-a-3 mdui-m-t-4" mdui-tooltip="{content: '末页'}"><i class="mdui-icon material-icons">skip_next</i></button>

</div>

@*添加商品对话框*@
<div class="mdui-dialog" id="addGoodsDialog">
    <div class="mdui-dialog-title">添加商品</div>
    <div class="mdui-dialog-content">
        请输入商品信息
        <div class="mdui-container">

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品类别</span>
                </div>

                <div class="mdui-col">
                    @*商品类别选择*@
                    <select class="mdui-select" mdui-select="{position: 'bottom'}">
                        @{
                            foreach (GoodsType goodsType in Model.GoodsTypeList)
                            {
                                <option value="@goodsType.goods_type_id">@goodsType.goods_type_name</option>
                            }
                        }
                    </select>

                </div>
            </div>

            <div class="mdui-divider mdui-m-t-1"></div>

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品名称</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsName" />
                    </div>
                </div>
            </div>
            <div class="mdui-divider  mdui-m-t-1"></div>


            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品价格</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsPrice" />
                    </div>
                </div>
            </div>

            <div class="mdui-divider  mdui-m-t-1"></div>

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品标题</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsTitle" />
                    </div>
                </div>
            </div>

            <div class="mdui-divider  mdui-m-t-1"></div>
            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品状态</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsFlag" />
                    </div>
                </div>
            </div>
            <div class="mdui-divider  mdui-m-t-1"></div>



            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品商量</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsCount" />
                    </div>
                </div>
            </div>
            <div class="mdui-divider  mdui-m-t-1"></div>

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品介绍</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <textarea class="mdui-textfield-input" placeholder="详细介绍" name="goodsInfo"></textarea>
                    </div>
                </div>
            </div>
            <div class="mdui-divider  mdui-m-t-1"></div>
        </div>
    </div>
    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
        <button class="mdui-btn mdui-ripple" id="addGoodsSure" mdui-dialog-confirm>确定</button>
    </div>
</div>

@*编辑商品*@
<div class="mdui-dialog" id="editGoodsDialog">
    <div class="mdui-dialog-title">编辑商品</div>
    <div class="mdui-dialog-content">
        请输入商品信息
        <div class="mdui-container">

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品类别</span>
                </div>

                <div class="mdui-col">
                    @*商品类别*@
                    <select id="goodsTypeSelect" class="mdui-select">
                        @{
                            foreach (GoodsType goodsType in Model.GoodsTypeList)
                            {
                                <option value="@goodsType.goods_type_id">@goodsType.goods_type_name</option>
                            }
                        }
                    </select>

                </div>
            </div>

            <div class="mdui-divider mdui-m-t-1"></div>

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品名称</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsName" />
                    </div>
                </div>
            </div>
            <div class="mdui-divider  mdui-m-t-1"></div>

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品价格</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsPrice" />
                    </div>
                </div>
            </div>

            <div class="mdui-divider  mdui-m-t-1"></div>
            
            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品标题</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsTitle" />
                    </div>
                </div>
            </div>

            <div class="mdui-divider  mdui-m-t-1"></div>

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品状态</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsFlag" />
                    </div>
                </div>
            </div>
            <div class="mdui-divider  mdui-m-t-1"></div>

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品介绍</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <textarea class="mdui-textfield-input" placeholder="详细介绍" name="goodsInfo"></textarea>
                    </div>
                </div>
            </div>

            <div class="mdui-row-xs-2 mdui-valign">
                <div class="mdui-col mdui-text-center">
                    <span class="mdui-text-color-theme-accent mdui-typo-title">商品数量</span>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" name="goodsCount" />
                    </div>
                </div>
            </div>
            <div class="mdui-divider  mdui-m-t-1"></div>


            <div class="mdui-divider  mdui-m-t-1"></div>
        </div>
    </div>
    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
        <button class="mdui-btn mdui-ripple" id="editGoodsSure" mdui-dialog-confirm>确定</button>
    </div>
</div>
<script>
    $(function () {
        //mdui.mutation();
        $("#addGoodsSure").click(function () {
            var goodsType = $("#addGoodsDialog select").val();
            var goodsName = $("#addGoodsDialog input[name='goodsName']").val();
            var goodsTitle = $("#addGoodsDialog input[name='goodsTitle']").val();
            var goodsPrice = $("#addGoodsDialog input[name='goodsPrice']").val();
            var goodsFlag = $("#addGoodsDialog input[name='goodsFlag']").val();
            var goodsCount = $("#addGoodsDialog input[name='goodsCount']").val();
            var goodsInfo = $("#addGoodsDialog :input[name='goodsInfo']").val();

            var jsonData = {
                action: "add",
                goods_type_id: goodsType,
                goods_name: goodsName,
                goods_price: goodsPrice,
                goods_flag: goodsFlag,
                goods_count: goodsCount,
                goods_info: goodsInfo,
                goods_title: goodsTitle
            };

            if (goodsName !== "" && goodsCount !== "" && goodsFlag !== "" && goodsInfo !== "" && goodsPrice !== "") {
                AddEntity("/GoodsManager/AllGoods", jsonData, GoodsLoadData, "goodsId", true);
            } else {
                alert("不能为空");
            }
            InitGoodsInput("", "", "", "", "");


        });

        $("#editGoodsSure").click(function () {
            var goodsId = GetSelectRowTds().get(1).innerText;
            var goodsName = $("#editGoodsDialog input[name='goodsName']").val();
            var goodsPrice = $("#editGoodsDialog input[name='goodsPrice']").val();
            var goodsFlag = $("#editGoodsDialog input[name='goodsFlag']").val();
            var goodsCount = $("#editGoodsDialog input[name='goodsCount']").val();
            var goodsInfo = $("#editGoodsDialog :input[name='goodsInfo']").val();
            var goodsTitle = $("#editGoodsDialog input[name='goodsTitle']").val();
            var goodsType = $("#editGoodsDialog #goodsTypeSelect").val();

            var jsonData = {
                action: "edit",
                goods_id: goodsId,
                goods_type_id: goodsType,
                goods_name: goodsName,
                goods_price: goodsPrice,
                goods_flag: goodsFlag,
                goods_info: goodsInfo,
                goods_count: goodsCount,
                goods_title: goodsTitle
            };

            EditEntity("/GoodsManager/AllGoods", GoodsLoadData, "goodsId", jsonData, true);
        });

        var selectOption = null;//当前选择的项
        $("#goodsEdit").click(function () {
            if (GetSelectRow().length === 0) {
                Snackbar("未选择行要编辑的类别");
                return;
            }
            if (GetSelectRow().length > 1) {
                Snackbar("编辑只能择一行");
                return;
            }

            new mdui.Dialog("#editGoodsDialog").open();
            $("#goodsTypeSelect").removeAttr("mdui-select");

            // mdui.mutation();
            var $td = GetSelectRowTds();
            InitGoodsInput($td.get(3).innerText,
                $td.get(4).innerText,
                $td.get(5).innerText,
                $td.get(6).innerText,
                $td.get(7).innerText,
                $td.get(9).innerText);
            //alert($("#goodsTypeSelect option").length);
            $("#goodsTypeSelect option[value='" + selectOption + "']").removeAttr("selected");
            selectOption = $td.get(2).innerText;

            $("#goodsTypeSelect option[value='" + selectOption + "']").attr("selected", "");
            $("div.mdui-select span").remove();
            // $("#goodsTypeSelect").attr("mdui-select", "{position: 'bottom'}");
            //mdui.mutation();

        });


    });

    //初始化文本框
    function InitGoodsInput(goodsName, goodsPrice, goodsFlag, goodsInfo, goodsCount, goodsTitle) {
        $("input[name='goodsName']").val(goodsName);
        $("input[name='goodsPrice']").val(goodsPrice);
        $("input[name='goodsFlag']").val(goodsFlag);

        $("input[name='goodsCount']").val(goodsCount);
        $(":input[name='goodsInfo']").val(goodsInfo);
        $("input[name='goodsTitle']").val(goodsTitle);
    }
</script>