@model WebUI.Models.GoodsTypeModel
@using Common
@using Model
@{
    ViewBag.Title = "GoodsType";
    Layout = "~/Views/Shared/_Home.cshtml";
}
@section Head
{
    <style>
        img {
            background: url(../../Content/images/Loading.gif) 50% no-repeat;
        }
    </style>
}
<section class="section-category">
    <div class="b-page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 clearfix">
                    <h3 class="page-title pull-left">商品类别</h3>
                    <div class="b-breadcrumbs pull-right">
                        <ul class="list-unstyled">
                            <li>
                                <a href="@Url.Action("Index","Home")">home</a>
                            </li>

                            <li>
                                <span>@Model.GoodsTypeName</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mywishlist-container">
                <div class="row">
                    @{
                        foreach (var item in Model.Goodses)
                        {
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="b-item-card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                    <div class="image">
                                       
                                        <a href="@Url.Action("GoodsDetail", "Goods", new {id = item.Goods.goods_id})">
                                            @{
                                                try
                                                {
                                                    <img style="width: 260px; height: 248px;" src="~/Content/images/blank.gif" data-echo="@Setting.GoodsPicFolder@item.Goods.Picture.FirstOrDefault().picture_adress" class="img-responsive center-block" alt="">
                                                }
                                                catch (Exception e)
                                                {
                                                    <img style="width: 260px; height: 248px;" src="~/Content/images/blank.gif" data-echo="#" class="img-responsive center-block" alt="">
                                                    LogHelper.Error("logerror", "商品图片未主页显示上传异常,商品编号:" + item.Goods.goods_id, e);
                                                }
                                            }
                                           
                                        </a>
                                        <div class="image-add-mod">
                                            <div class="add-description">
                                                <div>
                                                    <span>销量：@item.Goods.sell_count</span>
                                                    <br/>
                                                    <span>类别：@item.Goods.GoodsType.goods_type_name</span>
                                                    <br>
                                                    <span>标题：@item.Goods.goods_title</span>
                                                    <br>

                                                    @{
                                                        try
                                                        {
                                                            <a href="@Setting.GoodsPicFolder@item.Goods.Picture.FirstOrDefault().picture_adress" data-gal="prettyPhoto" title="@item.Goods.goods_title" class="btn btn-lightbox btn-default-color1 btn-sm">
                                                                <i class="fa fa-search-plus fa-lg"></i>
                                                            </a>
                                                        }
                                                        catch
                                                        {
                                                            <a href="#" data-gal="prettyPhoto" title="@item.Goods.goods_title" class="btn btn-lightbox btn-default-color1 btn-sm">
                                                                <i class="fa fa-search-plus fa-lg"></i>
                                                            </a>
                                                        }
                                                    }
                                                  
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-info">
                                        <div class="caption">
                                            <p class="name-item">
                                                <a class="product-name" href="@Url.Action("GoodsDetail","Goods",new {id=item.Goods.goods_id})">@item.Goods.goods_name</a>
                                            </p>
                                            <span class="product-price">￥@item.Goods.goods_price</span>
                                        </div>

                                        <div class="add-buttons">
                                            @{
                                                if (item.UserIsCollectGoods)
                                                {
                                                    <button type="button" class="btn btn-add btn-add-wish collectGoods" data-goods-id="@item.Goods.goods_id"><i class="fa fa-heart"></i></button>

                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-add btn-add-wish collectGoods" data-goods-id="@item.Goods.goods_id"><i class="fa fa-heart-o"></i></button>

                                                }
                                            }
                                            <button type="button" class="btn btn-add btn-add-cart addShopCart" data-goods-id="@item.Goods.goods_id"><i class="fa fa-shopping-cart"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }




                </div>

            </div>
            @*<div class="col-sm-12 text-center">
                    <nav>
                        <ul class="pagination pagination-mod pagination-color1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                    </nav>
                </div>*@
        </div>
    </div>
</section>

