@using Common
@model IEnumerable<WebUI.Models.UsersModel>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="mdui-row">
    <div class="mdui-text-right mdui-m-b-2">
        <button id="goodsTypeAdd" class="mdui-btn mdui-btn-icon mdui-m-r-1" style="padding: 25px;" mdui-tooltip="{content: '添加'}"><i class="mdui-icon material-icons">add</i></button>
        <button id="goodsTypeEdit" class="mdui-btn mdui-btn-icon" style="padding: 25px;" mdui-tooltip="{content: '编辑'}"><i class="mdui-icon material-icons">update</i></button>
        <button id="goodsTypeDelete" class="mdui-btn mdui-btn-icon" style="padding: 25px;" mdui-tooltip="{content: '删除'}"><i class="mdui-icon material-icons">delete</i></button>
    </div>
</div>
<div class="mdui-row">
    <div class="mdui-table-fluid mdui-hoverable mdui-table-hoverable">
        <table class="mdui-table mdui-table-selectable ">
            <thead>
            <tr>
                <th>头像</th>
                <th>编号</th>
                <th>名字</th>
                <th>邮箱</th>
                <th>电话</th>
                <th>性别</th>
                <th>状态</th>
                <th>地址</th>
                <th>注册时间</th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var itemModel in Model)
                {
                    <tr>
                        <td><img src="@Setting.HeadPicFolder@itemModel.UserHeadPortrait" style="height: 25px; width: 25px;"/></td>
                        <td>@itemModel.UserId</td>
                        <td><a href="@Url.Action("UserDetail","UserManager",new {id=itemModel.UserId})">@itemModel.UserName</a></td>
                        <td>@itemModel.UserEmail</td>
                        <td>@itemModel.UserTel</td>
                        <td>@itemModel.UserSex</td>
                        <td>@itemModel.UserFlag</td>
                        <td>@itemModel.UserAdress</td>
                        <td>@itemModel.RegistTime</td>

                    </tr>
                }

            }
            </tbody>
        </table>
    </div>
</div>

